<section>
  <h2 class="text-2xl font-bold">Featured Stays</h2>
  <div
    class="
      grid
      grid-cols-3
      gap-8
      mt-4
    "
  >
    <%= component("Landing/Featured/Listing") %>
    <%= component("Landing/Featured/Listing") %>
    <%= component("Landing/Featured/Listing") %>
    <%= component("Landing/Featured/Listing") %>
    <%= component("Landing/Featured/Listing") %>
    <%= component("Landing/Featured/Listing") %>
  </div>
</section>
